<section>
  <input  
  type="file"
  ref="nvuploadinput"
  :accept="isAccept" 
  multiple
  v-show="false"
  @change="uploadChange($event)">
  <nvimagethumb 
  :image="isImage"
  :video="isVideo"
  :round="isRound"
  :items="images"
  :length="isLength"
  @thumbClick="$refs.nvuploadinput.click()"
  @nvUploadThumbDelete="$emit('nvUploadThumbDelete',$event)">
</nvimagethumb>
<!-- style="display:none"  -->
   <!-- <div class="nv-upload-thumbnail" 
   style="display: inline-block;
   border: 2px dotted #ccc;
   padding: 3px;
   margin-right: 5px;
   margin-bottom: 5px;
   "
   v-for="image in images" 
   >
      <img
        v-bind:src="image"
        height="100"
        width="100">
  </div> -->

  <!-- <div class="nv-upload-thumbnail" 
  style="display: inline-block;
  border: 2px dotted #6f91e2;
  padding: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  "
  >
     <img
       @click="$refs.nvuploadinput.click()"
       height="100"
       width="100">
 </div> -->
</section> 