.preview-icon-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000061;
  display: none;
  margin: 5px;
}

.nv-upload-preview {
  display: inline-block;
  border: 2px dotted #ccc;
  padding: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative; 
}

.nv-upload-preview:hover{
    .preview-icon-area{
             display: inline-flex;
    }
}

.nv-upload-thumbnail {
    display: inline-flex;
    border: 2px dotted #ccc;
    padding: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
    min-width: 100px;
    min-height: 100px;
    justify-content: center;
    cursor: pointer;
}

.nv-image-preview-modal{
    display: flex;
    position: absolute;
    left:0;
    top: 0;
    // transform: translate(0%, 10%);
    right:0;
    bottom:0;
    justify-content: center;
    align-items: center;
    background: #000000db;
    z-index: 10000;
}