<section class="nv-image-thumb" style="display: inline-block;">
  <div class="nv-upload-preview" :style="isRound" v-for="(image, index) in images" :key="index">
    <img :style="isRound"  v-show="video != true" v-bind:src="image" height="100" width="100">
    <div style="height: 100px; width: 100px;" v-show="video == true && items.length >0">
        <video style="height: 100px; width: 100px;" :src="items[0]" id="nv-upload-video-element" controls>
          <source type="video/mp4">
        </video>
        <canvas id="canvas-element"></canvas>
      </div>
    <div class="preview-icon-area" :style="isRound">
      <img  src="./icon/view.svg" height="20" width="20" alt="preview"
        @click="previewAction(index)">
      <img src="./icon/delete.svg" height="20" width="20" alt="preview" @click="deleteAction(index)">
    </div>
  </div>
  <div v-if="showUpload" class="nv-upload-thumbnail" :style="isRound" @click="$emit('thumbClick')">
    <div style="display:flex;justify-content: center;align-items: center;flex-direction: column;">
      <img src="./icon/plus.svg" height="20" width="20" alt="preview">
      <div>Upload</div>
    </div>
  </div>
  

  <div v-show="showPreview == true " class="nv-image-preview-modal">
    <div v-show="video != true"  style="display: flex;">
      <img :src="previewImage" alt="imag" height="300" width="300">
      <img src="./icon/close.svg" alt="imag" height="20" width="20" @click="closePreview()">
    </div>
    <div  v-show="video == true && items.length >0"  style="display: flex;">
        <video style="height: 300px; width: 300px;" :src="items[0]" id="nv-upload-video-element" controls>
          <source type="video/mp4">
        </video>
        <canvas id="canvas-element"></canvas>
        <img src="./icon/close.svg" alt="imag" height="20" width="20" @click="closePreview()">
      </div>
  </div>

</section>