
.type-ahead-area {
    position: relative;
    height: auto;
    top: 0;
    margin-right: 20px;
  }
  
  .type-ahead-list {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 100px;
    overflow-y: scroll;
    display: none;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 1000;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  
  .type-ahead-input {
    position: relative;
    padding: 0 2px;
    border: none;
    width: 100%;
    background: white !important;
    padding: 6px 9px !important;
    border-radius: 4px;
    border: 1px solid #ccc;
    z-index: 999;
    font-family: blue;
    color: black;
  }
  
  .type-ahead-list-item {
    padding: 9px 5px;
    // font-family: $primary-font-family;
    cursor: pointer;
    z-index: 11;
    border-bottom: 1px solid #ccc;
  }

