<div 
    class="type-ahead-area"
    ref="typeAheadArea" >
 
    <input 
    class="type-ahead-input"
    ref="typeAheadInput"
    :type="inputType"
    :value="inputValue"
    @input="inputEmit($event.target.value)" >
 
    <div 
        class="type-ahead-list"
        v-if="items.length"
        ref="typeAheadInputDropdownArea" >
       
        <div 
            class="type-ahead-list-item"
            v-for="(fruit, index) in items"
            ref="typeAheadListItem"
            @click="valueSelected(index)" >
            {{fruit}} {{index}}
        </div>
    </div>
</div>