<section class="home">




  <b>CUSTOM COMPONENTS</b>

  <br />
  <br />

  <br />
  
  without accept
  <br />
   <nvupload 
   
   @nvUploadChange="fileUploadChange($event)"
   @nvUploadThumbDelete="nvUploadThumbDelete($event)"
   
   >
  </nvupload>

  <br />
 image
  <br />
  <nvupload 
   image
   @nvUploadChange="fileUploadChange($event)"
   @nvUploadThumbDelete="nvUploadThumbDelete($event)"
  
   >
  </nvupload>
  
  <br />
 video
  <br />
  <nvupload 
   video
   @nvUploadChange="fileUploadChange($event)"
   @nvUploadThumbDelete="nvUploadThumbDelete($event)"
   
   >
  </nvupload>
  
  

  <br />
 accept image
  <br />
  <nvupload 
   round 
   accept=".png,.jpg,.jpeg"
   @nvUploadChange="fileUploadChange($event)"
   @nvUploadThumbDelete="nvUploadThumbDelete($event)" 
   
   >
  </nvupload>
  
  <br />
  <br />

  <br />
  <br />


  FIRST :
  <typeahead inputType="text" @inputEmit="inputEmit($event)" :dropArray=dropArray @nvChange="valueSelect($event)">
  </typeahead>

  <br />

  <nvbutton @nvSubmit="submit('hai')">submit</nvbutton>

  SECOND :
  <typeahead inputType="text" @inputEmit="inputEmit($event)" :dropArray=dropArray @nvChange="valueSelect($event)">
  </typeahead>

  <br />

  <b>CUSTOM DIRECTIVES</b>
  <br />
  <br />

  <h1 v-red>home Component</h1>

  <h1 v-blue>home Component</h1>

  <h1 v-blue.underline v-blue="'underline'">home Component</h1>

  <h1 v-blue="'underline'">home Component</h1>

  <h1 v-orange>home Component</h1>

  <h1 v-hover>home Component</h1>

  <!-- <span v-tooltip="'my text'">some text</span> -->

  <br />

  <b>STATE MANAGEMENT</b>
  <br />
  <br />

  <b>First Stroe value </b>

  <h2>Get color {{ $store.getters.getColor }}</h2>

  <input v-model="color" type="text" />

  <br />
  <br />

  <button @click="changeColor(color)">
    Change First store value
  </button>

  <br />
  <br />

  <b>Second Stroe value </b>

  <h2>Called by method : {{ getNumbers }}</h2>

  <h2>Directly called {{ $store.getters.getNumbers }}</h2>


  <input v-model="numberInput" type="number" />

  <br />
  <br />

  <button @click="addNumber(numberInput)">
    Add new number in a state with action
  </button>

  <br />
  <br />

  <button @click="addNumberWithoutAction(numberInput)">
    Add new number in a state directly mutation (without action)
  </button>

  <br />
  <br />

  <sidebar />

  <router-link to="/third">go to third comp and check the array list </router-link>
  <!-- <router-view></router-view>
  <router-link to="/login">go to login</router-link> -->

  
  <br />
  <br />

  <nvupload
  :fileList="fileList1"
  ></nvupload>
</section>