<div>
  <div style="text-align: center; margin-bottom: 20px;font-weight: bold">WELCOME VUE TO ROUNDS EDGE</div>
  <a-form :form="form" @submit="handleSubmit">
    <a-form-item label="Username" :label-col="{ span: 10 }" :wrapper-col="{ span: 5 }">
      <a-input v-decorator="[
      'Username',
      {rules: [{ required: true, message: 'Please input Username!' }]}
    ]" />
    </a-form-item>
    <a-form-item label="Password" :label-col="{ span: 10 }" :wrapper-col="{ span: 5 }">
      <a-input type="password" v-decorator="[
      'Password',
      {rules: [{ required: true, message: 'Please input Password!' }]}
    ]" />
    </a-form-item>
    <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
      <a-button type="primary" html-type="submit">
        Submit
      </a-button>
    </a-form-item>
  </a-form>
</div>